USE [master]
GO
/****** Object:  Database [trgovina]    Script Date: 18.4.2019. 16:54:46 ******/
CREATE DATABASE [trgovina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'trgovina', FILENAME = N'D:\Code\AlgebraCSharp2019-1\baza\trgovina.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'trgovina_log', FILENAME = N'D:\Code\AlgebraCSharp2019-1\baza\trgovina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [trgovina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [trgovina]
GO
USE [trgovina]
GO
/****** Object:  Table [dbo].[aktivnosti]    Script Date: 18.4.2019. 16:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aktivnosti](
	[id_radnika] [int] NOT NULL,
	[id_skladista] [int] NOT NULL,
	[aktivnost] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_aktivnosti] PRIMARY KEY CLUSTERED 
(
	[id_radnika] ASC,
	[id_skladista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proizvodi]    Script Date: 18.4.2019. 16:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proizvodi](
	[id] [int] IDENTITY(1000,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_proizvodi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skladista]    Script Date: 18.4.2019. 16:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skladista](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[naziv] [nvarchar](50) NOT NULL,
	[adresa] [nvarchar](50) NULL,
	[mjesto] [nvarchar](50) NULL,
 CONSTRAINT [PK_skladista] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stanja]    Script Date: 18.4.2019. 16:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stanja](
	[id_skladista] [int] NOT NULL,
	[id_proizvoda] [int] NOT NULL,
	[kolicina] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trgovci]    Script Date: 18.4.2019. 16:54:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trgovci](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NULL,
	[spol] [bit] NULL,
 CONSTRAINT [PK_trgovci] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[aktivnosti]  WITH CHECK ADD  CONSTRAINT [FK_aktivnosti_skladista] FOREIGN KEY([id_skladista])
REFERENCES [dbo].[skladista] ([id])
GO
ALTER TABLE [dbo].[aktivnosti] CHECK CONSTRAINT [FK_aktivnosti_skladista]
GO
ALTER TABLE [dbo].[aktivnosti]  WITH CHECK ADD  CONSTRAINT [FK_aktivnosti_trgovci] FOREIGN KEY([id_radnika])
REFERENCES [dbo].[trgovci] ([id])
GO
ALTER TABLE [dbo].[aktivnosti] CHECK CONSTRAINT [FK_aktivnosti_trgovci]
GO
ALTER TABLE [dbo].[stanja]  WITH CHECK ADD  CONSTRAINT [FK_stanja_proizvodi] FOREIGN KEY([id_proizvoda])
REFERENCES [dbo].[proizvodi] ([id])
GO
ALTER TABLE [dbo].[stanja] CHECK CONSTRAINT [FK_stanja_proizvodi]
GO
ALTER TABLE [dbo].[stanja]  WITH CHECK ADD  CONSTRAINT [FK_stanja_skladista] FOREIGN KEY([id_skladista])
REFERENCES [dbo].[skladista] ([id])
GO
ALTER TABLE [dbo].[stanja] CHECK CONSTRAINT [FK_stanja_skladista]
GO
ALTER TABLE [dbo].[skladista]  WITH CHECK ADD  CONSTRAINT [chk_mjesto] CHECK  (([mjesto]='Zagreb' OR [mjesto]='Sisak' OR [mjesto]='Rijeka'))
GO
ALTER TABLE [dbo].[skladista] CHECK CONSTRAINT [chk_mjesto]
GO
USE [master]
GO
